@model WebApplication.Models.AssignmentModels

@{
    ViewBag.Title = "CreateAssignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section stylesheets {
    <link rel="stylesheet" href="~/Content/create-assignment.css" />
}

<main>
    <div class="container-fluid">
        <form asp-controller="Assignment" asp-action="CreateAssignment" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="boxed-row">
                        <div class="row">
                            <div class="col-md-9">
                                <h3 class="create-assignment-page-title">
                                    Create Assignment
                                </h3>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn-publish-assignment">
                                    Publish
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-8">
                            <div class="boxed-row">
                                <input placeholder="Assignment Title" class="assignment-title-text-field" name="assignmentTitle">
                                <span class="@(ViewBag.StatusCode== HttpStatusCode.Created?"text-success":ViewBag.StatusCode==HttpStatusCode.NotFound?"text-danger":"")">@ViewBag.Message</span>
                                @* missing assignment title *@
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="boxed-row">
                                <button type="button" class="btn-attach-files">
                                    Attach Files
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row assignment-description-detail-container">
                        <div class="col-md-7 height-max">
                            <div class="assignment-description">
                                <textarea placeholder="Write the description of your assignment here..." class="textarea-assignment-description" name="assignmentDescription"></textarea>
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-5 height-max">
                            <div class="assignment-details-panel">
                                <h4>Details</h4>
                                <div class="form-group">
                                    <label for="assignmentDeadline">
                                        Deadline
                                    </label>
                                    <input type="datetime-local" class="form-control" name="assignmentDeadline" />
                                    @Html.ValidationMessageFor(model => model.Deadline, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="assignmentCredits">
                                        Credits
                                    </label>
                                    <input type="number" class="form-control" name="assignmentCredits" />
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label for="assignmentAcademicLevel">
                                        Academic Level
                                    </label>
                                    <br>
                                    <select class="form-control">
                                        <option>Primary School</option>
                                        <option>High School</option>
                                        <option>University</option>
                                    </select>
                                    @* missing assignment academic level *@
                                </div>

                                <div class="form-group">
                                    <label for="assignmentSubject">
                                        Subject
                                    </label>
                                    <input type="text" class="form-control" id="assignmentSubject" />
                                    @* missing assignment subject *@
                                </div>

                                <div class="form-group">
                                    <label for="assignmentIsAnonymous">
                                        Make Anonymous
                                    </label>
                                    <br />
                                    <input type="checkbox" class="checkbox-make-anonymous" name="assignmentIsAnonymous" />
                                    @Html.ValidationMessageFor(model => model.Anonymous, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </form>
    </div>
</main>

