<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("stylesheets", required: false)
</head>
<body>
    <header>
        <div class="container-fluid navbar-fluid">
            <div>
                <a class="nav-so" href="/">
                    <span class="solvr">solvr.</span><span class="online">online</span>
                </a>
            </div>

            <nav>
                <ul class="nav navigation-list">
                    <li class="navigation-list-item">@Html.ActionLink("Dashboard", "Index", "Home", new { @class = "nav-dashboard" })</li>
                    <li class="navigation-list-item">@Html.ActionLink("Assignments", "Index", "Home", new { @class = "nav-assignments" })</li>
                    <li class="navigation-list-item">@Html.ActionLink("Solved", "Index", "Home", new { @class = "nav-solved" })</li>
                    <li class="navigation-list-item">@Html.ActionLink("Forum", "Index", "Home", new { @class = "nav-forum" })</li>
                    <li class="navigation-list-item">@Html.ActionLink("FAQ", "Index", "Home", new { @class = "nav-faq" })</li>
                </ul>
            </nav>

            <div class="navbar-button-search-block">
                <div>
                    <a href="/assignment/create-assignment" class="btn-post-assignment">
                        <img class="btn-post-assignment-icon" src="Assets/Icons/add.svg">
                        Post Assignment
                    </a>
                </div>

                <div>
                    <forum class="form-inline search-bar">
                        <input class="search-input" type="search" placeholder="search" aria-label="search" />
                        <Button class="search-bar-button my-2 my-sm-0" type="submit">Go</Button>
                    </forum>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
