<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("stylesheets", required: false)
</head>
<body>
    <header>
        <div class="container-fluid navbar-fluid">
            <div>
                <a class="nav-so" href="#">
                    <p class="solvr">solvr.</p><p class="online">online</p>
                </a>
            </div>

            <nav>
                <ul class="nav navigation-list">
                    <li class="navigation-list-item">@Html.ActionLink("Dashboard", "Index", "Home", new { @class = "nav-dashboard" })</li>
                    <li class="navigation-list-item">@Html.ActionLink("Assignments", "Index", "Home", new { @class = "nav-assignments" })</li>
                    <li class="navigation-list-item">@Html.ActionLink("Solved", "Index", "Home", new { @class = "nav-solved" })</li>
                    <li class="navigation-list-item">@Html.ActionLink("Forum", "Index", "Home", new { @class = "nav-forum" })</li>
                    <li class="navigation-list-item">@Html.ActionLink("FAQ", "Index", "Home", new { @class = "nav-faq" })</li>
                </ul>
            </nav>

            <div class="navbar-button-search-block">
                <div>
                    <button type="button" class="btn-post-assignment">
                        <img class="btn-post-assignment-icon" src="Assets/Icons/add.svg">
                    Post Assignment</button>
                </div>

                <div>
                    <forum class="form-inline search-bar">
                        <input class="search-input" type="search" placeholder="search" aria-label="search" />
                        <Button class="search-bar-button my-2 my-sm-0" type="submit">Go</Button>
                    </forum>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 user-sidebar">
                <div class="user-sidebar-content">

                    <div class="user-sidebar-bio">
                        <div class="user-sidebar-profile-image">
                            @* Some conditional logic where if there is no image URL, we go to the fallback *@
                            @*<img alt="User avatar" src="Assets/Images/hunterek.png" />*@
                            <img alt="Default user avatar" src="Assets/Images/default-avatar.png" />
                        </div>
                        <div class="user-sidebar-username">
                            <h3>
                                Username
                            </h3>
                        </div>
                    </div>

                    <div class="user-sidebar-meta">
                        <div class="user-sidebar-meta-name-rank">Rank</div>
                        <div class="user-sidebar-meta-value-rank"><svg xmlns="http://www.w3.org/2000/svg" width="24.142" height="24.142" viewBox="0 0 24.142 24.142"><path d="M15.059,3A12.071,12.071,0,1,0,27.142,15.071,12.065,12.065,0,0,0,15.059,3Zm5.118,19.314-5.106-3.078L9.965,22.314l1.352-5.806-4.5-3.9,5.939-.507,2.318-5.48,2.318,5.468,5.939.507-4.5,3.9,1.352,5.818Z" transform="translate(-3 -3)" fill="#fff700" /></svg></div>
                        <div class="user-sidebar-meta-name-score">Score</div>
                        <div class="user-sidebar-meta-value-score">15000</div>
                        <div class="user-sidebar-meta-name-credits">Credits</div>
                        <div class="user-sidebar-meta-value-credits">450</div>
                    </div>

                    <div class="user-sidebar-add-credit">
                        <a class="btn-add-credit"
                           href="#">
                            <img class="btn-add-credit-icon"
                                 src="Assets/Icons/dollar.svg">Add Credit
                        </a>
                    </div>

                    <div class="user-sidebar-block">
                        <h4 class="user-sidebar-block-title">Assignments</h4>
                        <div>
                            <a class="user-sidebar-block-link">
                                Posted Assignments
                            </a>
                        </div>
                        <div>
                            <a class="user-sidebar-block-link">
                                Solved Assignments
                            </a>
                        </div>
                    </div>

                    <div class="user-sidebar-block">
                        <h4 class="user-sidebar-block-title">
                            Forum
                        </h4>
                        <div>
                            <a class="user-sidebar-block-link">
                                Posted Topics
                            </a>
                        </div>
                        <div>
                            <a class="user-sidebar-block-link">My Comments</a>
                        </div>
                    </div>

                    <div class="user-sidebar-block">
                        <h4 class="user-sidebar-block-title">My Profile</h4>
                        <div>
                            <a class="user-sidebar-block-link">Change Info</a>
                        </div>
                        <div>
                            <a class="user-sidebar-block-link">Settings</a>
                        </div>
                    </div>

                    <div class="user-sidebar-log-out">
                        <a class="btn-log-out"
                           href="#">
                            <img class="btn-log-out-icon"
                                 src="Assets/Icons/logout.svg">Log Out
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                @RenderBody()
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
