@model ModelLayer.Assignment

@{
    var solutions = ViewBag.Solutions;
}

<a href="/assignment/display-assignment/@Model.AssignmentId" class="assignment-card">
    <div class="card shadow border-0">
        @if (Model.IsActive)
        {
            <h5 class="card-header header text-white border-0 p-2">
                @Model.Title
            </h5>
        }
        else
        {
            <h5 class="card-header header-inactive text-white border-0 p-2">
                @Model.Title - Inactive
            </h5>
        }

        <div class="card-body d-inline-flex w-100 assignment-card">
            <div class="col-md-6 card-text">
                <div class="card-academicLevel">
                    <p class="card-details text-center">@Model.AcademicLevel</p>
                </div>
                <div class="card-subject">
                    <p class="card-details text-center">@Model.Subject</p>
                </div>

            </div>
            <div class="col-md-6 card-text">
                <p class="card-details">@Model.Deadline</p>
                <p class="card-details">@Model.Price Credits</p>
                <!--<p class="card-details">5-->@*@solutions.Count*@<!--</p>-->
            </div>
        </div>
        <div class="card-footer text-muted bg-white text-center">
            <p class="card-details">@Model.PostDate.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
</a>
