@model ModelLayer.Assignment;
@{
    ViewData["Title"] = "Create Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Stylesheets {
    <link rel="stylesheet" href="/css/create-assignment.css" />
}

<main>
    <div class="container-fluid">
        <form asp-controller="Assignment" enctype="multipart/form-data" asp-action="CreateAssignment" method="post">
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-2 screen-1300-invisible">
                </div>
                <div class="col-md-8 screen-1300-full">
                    <div class="boxed-row">
                        <div class="row create-assignment-title-block">
                            <div class="col-md-9">
                                <h3 class="create-assignment-page-title">
                                    Create Assignment
                                </h3>
                                <span class="@ViewBag.ResponseStyleClass">@ViewBag.Message</span>
                            </div>
                            <div class="col-md-3 d-flex align-items-center justify-content-end">
                                <button type="submit" class="btn-publish-assignment">
                                    Publish
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-8">
                            <div class="boxed-row">
                                <input asp-for="Title" placeholder="Assignment Title" class="assignment-title-text-field">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="boxed-row">
                                <input asp-for="AssignmentFile" name="files" type="file"
                                       id="add-file"
                                       accept="image/png, image/jpeg">
                            </div>
                        </div>
                    </div>

                    <div class="row assignment-description-detail-container">
                        <div class="col-md-7 height-max">
                            <div class="assignment-description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                                <textarea asp-for="Description" placeholder="Write the description of your assignment here..." class="textarea-assignment-description"></textarea>
                            </div>
                        </div>

                        <div class="col-md-5 height-max">
                            <div class="assignment-details-panel">
                                <h4>Details</h4>
                                <div class="form-group">
                                    <label for="Deadline">
                                        Deadline
                                    </label>
                                    <input asp-for="Deadline" type="datetime-local" class="form-control" />
                                    <span asp-validation-for="Deadline" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="Price">
                                        Credits
                                    </label>
                                    <input asp-for="Price" type="number" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="AcademicLevel">
                                        Academic Level
                                    </label>
                                    <br />
                                    <select asp-for="AcademicLevel" class="form-control" onfocus="this.size=6" onblur="this.size=1" onchange="this.size = 1; this.blur();">
                                        <option value="" selected>Choose academical level</option>
                                        @foreach (var option in ViewBag.AcademicLevels)
                                        {
                                            <option value="@option">@option</option>
                                        }
                                    </select>
                                    <span asp-validation-for="AcademicLevel" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="Subject">
                                        Subject
                                    </label>
                                    <br />
                                    <select asp-for="Subject" class="form-control" onfocus="this.size=6" onblur="this.size=1" onchange="this.size = 1; this.blur();">
                                        <option value="" selected>Choose subject</option>
                                        @foreach (var option in ViewBag.Subjects)
                                        {
                                            <option value="@option">@option</option>
                                        }
                                    </select>
                                    <span asp-validation-for="Subject" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="Anonymous">
                                        Make Anonymous
                                    </label>
                                    <br />
                                    <label class="switch">
                                        <input asp-for="@Model.Anonymous" type="checkbox" value="true" checked>
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 screen-1300-invisible">
                </div>
            </div>
        </form>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}